alembic==1.15.2
Flask==3.1.1
flask_cors==5.0.1
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
injector==0.22.0
langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.59
langchain_openai==0.3.16
langgraph==0.4.3
openai==1.78.1
pydantic==2.11.4
pytest==8.3.5
python-dotenv==1.1.0
WTForms==3.2.1
